# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# SSH keys
keys/*

# Runtime database
server/abitti2.db
server/scripts/naksu-password-words.json
server/scripts/naksu-password-words.local.json
temp-naksu2-app/
